services:

  postgres:
    image: postgres:18.1-trixie
    container_name: postgres_set
    restart: unless-stopped
    ports:
      - "127.0.0.1:5432:5432"
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql
    networks:
      - ainocraft_network
